@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'Outfit-Bold';
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}
@font-face {
    font-family: 'YoungSerif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 54%, 90%);
    padding: 2.5rem;
}
.container{
    width: 20.9375rem;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 0.9375rem;
    border-radius: 0.9375rem;
    gap: 1rem;
    cursor: default;
}
.container > img{
    width: 100%;
    border-radius: 0.3125rem;
}
.container .header{
    font-family: 'YoungSerif', sans-serif;
    font-size: 1.4rem;
}
.container .overview{
    font-size: 0.8rem;
    color: hsl(30, 10%, 34%);
}
.container .requirement{
    background-color: hsl(330, 100%, 98%);
    padding: 0.625rem;
    border-radius: 0.3125rem;
}
.requirement > p{
    color: hsl(332, 51%, 32%);
    font-size: 1rem;
    font-family: 'Outfit-Bold', sans-serif;
    margin-bottom: 0.3125rem;
}
.requirement > ul, .ingredient > ul, .instructions > ol{
    font-size: 0.8rem;
    padding-left: 0.625rem;
}
.requirement > ul > li, .ingredient > ul > li, .instructions > ol > li{
    color: hsl(30, 10%, 34%);
    margin: 0.3125rem 0;
    padding-left: 0.625rem;
}
.requirement > ul li::marker{
    color: hsl(332, 51%, 32%);
}
.ingredient  > ul > li::marker, .instructions > ol > li::marker{
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit-Bold', sans-serif;
    font-size: 0.65rem;
} 
.pre-span{
    color: hsl(24, 5%, 18%);
    font-family: 'Outfit-Bold', sans-serif;
}
.ingredient, .instructions{
    border-bottom: 0.1rem solid hsl(30, 18%, 87%);
    padding-bottom: 0.3125rem;
}
.sub-header{
    font-family: 'YoungSerif', sans-serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 0.3125rem;
}
.para, .key{
    color: hsl(30, 10%, 34%);
    font-size: 0.8rem;
    text-align: left;
}
tr:not(:last-child) th{
    border-bottom: 0.0625rem solid hsl(30, 18%, 87%);
}
.key, .value{
    width: 9.6875rem;
    padding: 0.3125rem;
}
.value{
    color: hsl(14, 45%, 36%);
    font-size: 0.8rem;
    font-family: 'Outfit-Bold', sans-serif;
}
.attribution {
    margin-top: 5rem;
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 476px) {
    body{
        background-color: transparent;
    }
}